*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b0c4b1;
    border-radius: 0px 0px 10px 10px;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
   
}

.text{
    padding: 10px;
    background-color: #3c6e71; 
    border-radius: 10px 10px 0px 0px;

}

.text input{
    height:60px;
    width: 260px;
    border-radius: 10px;
    text-align: right;
    font-size: 1.2rem;
}

.buttons{
    padding: 35px;
    background-color: #3c6e71;
    
}

.buttons button {
    margin: 2px; 
     /* Add margin between buttons */
     cursor: pointer;
}


.buttons button{
    font-size: 1.2rem;
    background-color: #3c6e71;
    height: 50px;
    border-radius: 5px;
    width: 45px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}

.fourth .equal{
    display: flex-end;
    width: 94px; 
}






